<style>
  * {
    background-color: {{color}};
  }
</style>

<img src='RG.jpeg'>


{{#if name}}
<h1>Hey {{name}}, {{compliment}} </h1>
{{else}}
<h1>Hey girl, {{compliment}}</h1>
{{/if}}

<a href="/">regenerate</a><br>
<a href="/new">submit new RG</a>
