<style>
  body {
    background-color: {{color}};
  }
</style>

<img src='RG.jpeg'>

{{#if name}}
<h1>Hey {{name}}, {{compliment}} </h1>
{{else}}
<h1>Hey girl, {{compliment}}</h1>
{{/if}}

<form action="/" method="post">
  <label for="player_name">Hey girl, what's your name?</label><br>
  <input id="player_name" type="text" name="player_name">
  <input type="submit">
</form>


<a href="/">regenerate</a><br>
{{#if name}}
<a href="/{{name}}/new">submit new RG</a>
{{/if}}
